@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-background: var(--background);
  --color-background-variant: var(--background-variant);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-text-variant: var(--text-variant);
  --color-primary: var(--primary);
  --color-primary-accent: var(--primary-accent);
  --color-border: var(--border);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

@layer {
  :root {
    --background: #0a0a0a;
    --background-variant: #242323;
    --foreground: #ededed;
    --text: #ededed;
    --text-variant: var(--color-stone-400);
    --primary: var(--color-indigo-500);
    --primary-accent: var(--color-indigo-400);
    --border: var(--color-stone-700);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans)
}

* {
  @apply transition-colors duration-300;
}

*:focus {
  outline: none;
}
